*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

header{
  border: 1px solid black;
  width: 100%;
  height: 1000px;
}

#banner{
  border: 1px solid black;
  width: 100%;
  height: 600px;
  background-image: url(img/scott-webb-Vn39uEkX00s-unsplash.jpg);
  background-size: cover;
  background-position:center;
}

#bannerinfo{
  width: 55%;
  height: 200px;
  margin: auto;
  margin-top: 70px;
}

#bannerinfo h1{
color: white;
text-align: center;
font-size: 32px;
}

#bannerinfo p{
  color: white;
  font-size:16px ;
  text-align: center;
}

#button{
    border: black 1px solid;
    width: 180px;
    height: 50px;
    margin:auto;
    background-color: #f34a3a;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 25px;
}

#button a{
color: white;
font-size: 20px;
text-align: center;
text-decoration: none;
float: left;
}

.iconbanner{
  
width: 50px;
height: 50px;
float: right;
background-image: url(img/right-arrow.png);
background-size: cover;
background-repeat:no-repeat ;
margin-top: -12px;
margin-right: 5px;
}