* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 13px;
}

header {
    border: 1px solid black;
    width: 100%;
    height: 80rem;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
}

#hizala {
    border: 1px solid #FF6345;
    width: 85%;
    height: 60rem;
    margin: auto;
    margin-top: 2rem;
}

#hizala h1,
h3 {
    color: white;
    text-align: center;
}

#headerSearch {
    border: 1px solid #FF6345;
    border-radius: 2px;
    width: 80%;
    height: 20rem;
    margin: auto;
    background-color: #FF6345;
    padding: 1.5rem 2rem;
}

form input {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
    text-indent: 1.5rem;
}

.iconHeader::placeholder {
    background-image: url(img/placeholder.png);
    width: 16px;
    height: 1.3rem;
    background-repeat: no-repeat;
    z-index: -41;
}